# Latest Stable Release of Django
django==1.6.5

# Django Rest Framework
djangorestframework

# We'll be using this for the code highlighting
pygments

# Configuration
django-configurations==0.8

# Bootstrap
django-bootstrap3

# For user registration, either via email or social
# Well-built with regular release cycles!
django-allauth==0.15.0

# For cart system
django-carton
