<!DOCTYPE html>
{% load bootstrap3 %}
{% load static %}
<html>

<head>
    <title>Bong's Collection</title>
    {% block initialstatic %}
        <link href="{% static "css/bootstrap.min.css" %}" media="screen" rel="stylesheet">
        <link href="{% static "css/base.css" %}" media="screen" rel="stylesheet">
        <script src="{% static "js/base.js" %}"></script>
        <script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
    {% endblock %}
    {% block exinstatic %}

    {% endblock %}
</head>

<body>
    {% block navbar %}
    <!-- Fixed navbar -->
    <div class="navbar navbar-default" id="fmeasure" style="background:#005387;border-radius:0;">
      <div class="col-lg-12" style="background:#005387;color:#fdd922" id="scroll">Your Suggestion and Support very much required to success the initiatives -- Bong Collection</div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".collapse-cus">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img class="connecting" src="{% static "images/logo.png" %}" width="350"/></a>
        </div>
        <div class="navbar-collapse collapse collapse-cus">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Feedback  or Suggestion</a></li>
            <li><a href="../navbar-static-top/">Signup</a></li>
            <li id="size"><a href="./">Login</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </div>
    <!-- End fixed navbar -->
    <div class="navbar navbar-default navbar-custom" style="background:#0a3151;top:-1.5em;border-radius:0;border-top:0;;">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".collapse-custom">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse collapse-custom">
          <ul class="nav navbar-nav">
            {% for category in categories %}
                <li><a href="/main/{{category.id}}/">{{category.category}}</a></li>
            {% endfor %}
          </ul>
          <div class="col-sm-1"></div>
          <div class="col-sm-4 col-md-4">
            <form class="navbar-form" role="search">
                <div class="input-group col-sm-12">
                    <input type="text" class="form-control search-input" placeholder="Search" name="q">
                    <div class="input-group-btn">
                        <button class="btn btn-default btn-search" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="glyphicon glyphicon-shopping-cart cart-color"></i> <b id="countCart">0</b> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">No Items</a></li>
                </ul>
            </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
    {% endblock %}

    {% block messages %}
    <div class="container indexing">
        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}
    </div>
    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block footer %}
    <!-- Footer -->
    <br><br>
    <!-- Static bottom navbar -->
    <div class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".bottom-collapse"> <!-- NOTE! data-target was changed to .bottom-collapse -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse bottom-collapse"> <!-- NOTE! The extra bottom-collapse class put on here -->
          <ul class="nav navbar-nav">
            <li><a href="#">About Us</a></li>
            <li><a href="#about">Terms & Policies</a></li>
            <li><a href="#contact">Contact Us</a></li>
          </ul><!-- 
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li><a href="../navbar-fixed-top/">Fixed Bottom</a></li>
          </ul> -->
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <!-- End Footer -->
    {% endblock %}

    {% block laststatic %}
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54c41bda4f818b94" async="async"></script>
    {% endblock %}

    {% block exlastatic %}

    {% endblock %}
</body>
</html>