{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h3>Categories</h3>
                <ul class="list-group">
                    {% for subcategory in subcategories %}
                    <li class="list-group-item"><a href="/main/{{subcategory.id}}/">{{ subcategory }}</a></li>
                    {% endfor %}
                </ul>
                <hr>
                <h3>PRICE</h3>
                <div class="checkbox">
                  <label><input type="checkbox" value="">RS.499 And Below</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" value="">Rs.500-Rs.999</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" value="">Rs.1000-Rs.1499</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" value="">Rs.1500-Rs.1999</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" value="">Rs.2000-Rs.12499</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" value="">Rs.2500 And Above</label>
                </div>
            </div>
            <div class="col-lg-9 design">
                <h3 style="color:#0a3151"><strong>{{category.category}}</strong></h3>
                <p style="color:#0a3151">Items: All; Price Range: Max</p>
                <hr>
 
  <br>
  <!--       <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary" style="color:#0a3151;border-radius:0;">
                    <div style="margin: 10px;">
                    <img class="thumbnail img-responsive" alt="Bootstrap template" 
                        src="{% static "images/1.jpg" %}" />
                        <h4 class="text-center">Cypher Floored</h4>
                        <p class="text-center">Rs.49.99</p>
                    <a class="btn btn-sm btn-block btn-default" style="background-color:#fdd922; font-size:15px;color:#0a3151;border-radius:0; border-width: 3px;">ADD To Cart</a> 
                </div>
            </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary" style="color:#0a3151;border-radius:0;">
                    <div style="margin: 10px;">
                    <img class="thumbnail img-responsive" alt="Bootstrap template" 
                        src="{% static "images/1.jpg" %}" />
                        <h4 class="text-center">Cypher Floored</h4>
                        <p class="text-center">Rs.49.99</p>
                    <a class="btn btn-sm btn-block btn-default" style="background-color:#fdd922; font-size:15px;color:#0a3151;border-radius:0; border-width: 3px;">ADD To Cart</a> 
                </div>
            </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary" style="color:#0a3151;border-radius:0;">
                    <div style="margin: 10px;">
                    <img class="thumbnail img-responsive" alt="Bootstrap template" 
                        src="{% static "images/1.jpg" %}" />
                        <h4 class="text-center">Cypher Floored</h4>
                        <p class="text-center">Rs.49.99</p>
                    <a class="btn btn-sm btn-block btn-default" style="background-color:#fdd922; font-size:15px;color:#0a3151;border-radius:0; border-width: 3px;">ADD To Cart</a> 
                </div>
            </div>
            </div>
        </div> -->
        <div class="row">
            {% for item in finals %}
            <div class="col-md-4">
                <div class="panel panel-primary" style="color:#0a3151;border-radius:0;">
                    <div style="margin: 10px;"><a href="/item/{{item.id}}/">
                    <img class="thumbnail img-responsive" alt="Bootstrap template" 
                        src="/media/{{ item.itemimage_set.all.0.image }}" /></a>
                        <h4 class="text-center">{{ item.item_name }}</h4>
                        <p class="text-center">Rs. {{ item.price_set.all.0.price }}</p>
                    <a class="btn btn-sm btn-block btn-default addToCart" style="background-color:#fdd922; font-size:15px;color:#0a3151;border-radius:0; border-width: 3px;" href="/cart/add/?id={{boys.id}}">ADD To Cart</a> 
                    </div>
                </div>
            </div>
            {% endfor %}
<!--             <div class="col-md-4">
                <div class="panel panel-primary" style="color:#0a3151;border-radius:0;">
                    <div style="margin: 10px;">
                    <img class="thumbnail img-responsive" alt="Bootstrap template" 
                        src="{% static "images/1.jpg" %}" />
                        <h4 class="text-center">Cypher Floored</h4>
                        <p class="text-center">Rs.49.99</p>
                    <a class="btn btn-sm btn-block btn-default" style="background-color:#fdd922; font-size:15px;color:#0a3151;border-radius:0; border-width: 3px;">ADD To Cart</a>  
                </div>
            </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary" style="color:#0a3151;border-radius:0;">
                    <div style="margin: 10px;">
                    <img class="thumbnail img-responsive" alt="Bootstrap template" 
                        src="{% static "images/1.jpg" %}" />
                        <h4 class="text-center">Cypher Floored</h4>
                        <p class="text-center">Rs.49.99</p>
                    <a class="btn btn-sm btn-block btn-default" style="background-color:#fdd922; font-size:15px;color:#0a3151;border-radius:0; border-width: 3px;">ADD To Cart</a>  
                </div>
            </div>
            </div>
        </div> -->
<!--         <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary" style="color:#0a3151;border-radius:0;">
                    <div style="margin: 10px;">
                    <img class="thumbnail img-responsive" alt="Bootstrap template" 
                        src="{% static "images/1.jpg" %}" />
                        <h4 class="text-center">Cypher Floored</h4>
                        <p class="text-center">Rs.49.99</p>
                    <a class="btn btn-sm btn-block btn-default" style="background-color:#fdd922; font-size:15px;color:#0a3151;border-radius:0; border-width: 3px;">ADD To Cart</a>  
                </div>
            </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary" style="color:#0a3151;border-radius:0;">
                    <div style="margin: 10px;">
                    <img class="thumbnail img-responsive" alt="Bootstrap template" 
                        src="{% static "images/1.jpg" %}" />
                        <h4 class="text-center">Cypher Floored</h4>
                        <p class="text-center">Rs.49.99</p>
                    <a class="btn btn-sm btn-block btn-default" style="background-color:#fdd922; font-size:15px;color:#0a3151;border-radius:0; border-width: 3px;">ADD To Cart</a> 
                </div>
            </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary" style="color:#0a3151;border-radius:0;">
                    <div style="margin: 10px;">
                    <img class="thumbnail img-responsive" alt="Bootstrap template" 
                        src="{% static "images/1.jpg" %}" />
                        <h4 class="text-center">Cypher Floored</h4>
                        <p class="text-center">Rs.49.99</p>
                    <a class="btn btn-sm btn-block btn-default" style="background-color:#fdd922; font-size:15px;color:#0a3151;border-radius:0; border-width: 3px;">ADD To Cart</a> 
                </div>
            </div>
            </div>
        </div> -->
    </div>
<!-- <div class="pagination">
    <span class="step-links">
        {% if finals.has_previous %}
            <a href="?page={{ finals.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ finals.number }} of {{ finals.paginator.num_pages }}.
        </span>

        {% if finals.has_next %}
            <a href="?page={{ finals.next_page_number }}">next</a>
        {% endif %}
    </span>
</div> -->

    <ul class="pager">
        {% if finals.has_previous %}
        <li class="previous"><a href="?page={{ finals.previous_page_number }}">← Previous</a></li>
          {% endif %}
        <li class="current">
            Page {{ finals.number }} of {{ finals.paginator.num_pages }}.
        </li>          
          {% if finals.has_next %}
          <li class="next"><a href="?page={{ finals.next_page_number }}">Next →</a></li>
          {% endif %}
    </ul>
  </div>
</div>
</div>
    <style type="text/css">
    hr {
        -moz-border-bottom-colors: none;
        -moz-border-image: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-color: #0a3151 -moz-use-text-color #0a3151;
        border-style: solid none;
        border-width: 2px 0;
        margin: 18px 0;
    }
    .design{
        border-left: 1px solid #0a3151;
    }
    </style>
    <script>
    $(".addToCart").click(function(e)
    {
        var formURL = $(this).attr("href");
        $.ajax(
        {
            url : formURL,
            type: "GET",
            success:function(data, textStatus, jqXHR) 
            {
                $("#countCart").text(data);
            },
            error: function(jqXHR, textStatus, errorThrown) 
            {
                alert('[Error] Please try Again');
            }
        });
        e.preventDefault(); //STOP default action
    });
    </script>
{% endblock %}
