{% extends "base.html" %}
{% load static %}

{% block exinstatic %}

    <!-- you need to include the shieldui css and js assets in order for the charts to work -->
    <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/shieldui-all.min.css" />
    <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light/all.min.css" />
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>

{% endblock %}

{% block content %}

<!-- Form -->
<div class="container">
<div class="row">
    <p style="font-size: 20px; color: #0a3151;">Dear Customers,</p>
    <p style="font-size: 20px; color: #0a3151;">We are expecting your valuable feedback and suggestion which will help us to improve our sevice quality.We will definitely try to mitigate your expectation as our best.</p>
    <p style="font-size: 20px; color: #0a3151;">- Bong's Collection</p>
</div
</div>
<div class="container" id="container1">
    <div class="row">
        <form role="form">
            <div class="col-lg-6">
                <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong></div>
                <div class="form-group">
                    <label for="InputName">Enter Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter Name" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="select" class="control-label">Category</label>
                    <div class="input-group">
                    <select class="form-control" id="select">
                        <option>Feedback</option>
                        <option>Suggestion</option>
                        <option>Complain</option>
                        <option>Other</option>
                    </select>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputMessage">Description</label>
                    <div class="input-group">
                        <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
            </div>
        <div class="col-lg-5 col-md-push-1">
        <div class="panel panel-default">

            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item ">
                    <div class="skillLineDefault">
                        <div class="skill pull-left text-center">Product-Design</div>
                        <div class="rating arrange" id="rate1"></div>
                    </div>
                </li>
                <li class="list-group-item text-center">
                    <div class="skillLineDefault">
                        <div class="skill pull-left text-center">Product-Quality</div>
                        <div class="rating" id="rate2"></div>
                    </div>
                </li>
                <li class="list-group-item text-center">
                    <div class="skillLineDefault">
                        <div class="skill pull-left text-center">Delivery</div>
                        <div class="rating" id="rate3"></div>
                    </div>
                </li>
                <li class="list-group-item text-center">
                    <div class="skillLineDefault">
                        <div class="skill pull-left text-center">Ordering process</div>
                        <div class="rating" id="rate4"></div>
                    </div>
                </li>
                <li class="list-group-item text-center">
                    <div class="skillLineDefault">
                        <div class="skill pull-left text-center">Payment Mode</div>
                        <div class="rating" id="rate5"></div>
                    </div>
                </li>
                <li class="list-group-item text-center">
                    <div class="skillLineDefault">
                        <div class="skill pull-left text-center">Reliability</div>
                        <div class="rating" id="rate6"></div>
                    </div>
                </li>
                <li class="list-group-item text-center">
                    <div class="skillLineDefault">
                        <div class="skill pull-left text-center">Overall</div>
                        <div class="rating" id="rate7"></div>
                    </div>
                </li>
            </ul>
            <div class="panel-footer text-center">
                <button type="button" class="btn btn-primary btn-lg btn-block">
                    Submit
                </button>
            </div>
        </div>
      </div>
    </form>
 </div>
<!-- End Form -->

    <hr class="featurette-divider">

<!-- Average Feedback -->
<div class="row">
    <h4 class="text-center skills" style="color: #0a3151;">Feedback Summary</h4>
      <div class="col-sm-12 col-lg-5">
        <div class="panel panel-default">
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">
                    <div class="skillLineDefault">
                        <div class="skill pull-left text-center arranger">Product-Design</div>
                        <div class="rating arrange" id="rate8"></div>
                    </div>
                </li>
                <li class="list-group-item text-center">
                    <div class="skillLineDefault">
                        <div class="skill pull-left text-center">Product-Quality</div>
                        <div class="rating" id="rate9"></div>
                    </div>
                </li>
                <li class="list-group-item text-center">
                    <div class="skillLineDefault">
                        <div class="skill pull-left text-center">Delivery</div>
                        <div class="rating" id="rate10"></div>
                    </div>
                </li>
                <li class="list-group-item text-center">
                    <div class="skillLineDefault">
                        <div class="skill pull-left text-center">Ordering process</div>
                        <div class="rating" id="rate11"></div>
                    </div>
                </li>
                <li class="list-group-item text-center">
                    <div class="skillLineDefault">
                        <div class="skill pull-left text-center">Payment Mode</div>
                        <div class="rating" id="rate12"></div>
                    </div>
                </li>
                <li class="list-group-item text-center">
                    <div class="skillLineDefault">
                        <div class="skill pull-left text-center">Reliability</div>
                        <div class="rating" id="rate13"></div>
                    </div>
                </li>
                <li class="list-group-item text-center">
                    <div class="skillLineDefault">
                        <div class="skill pull-left text-center">Overall</div>
                        <div class="rating" id="rate14"></div>
                    </div>
                </li>
            </ul>
        </div>
  </div>
    <div class="col-sm-12 col-lg-6 col-md-push-1">
      <div style="font-size:1.5em;color:#0a3151;">Feedback</div>
        <div class="progress" id="progress1">
            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">               
            </div>
            <span class="progress-type">Overall Progress</span>
            <span class="progress-completed">100%</span>
        </div>
      <div style="font-size:1.5em;color:#0a3151;">Suggestion</div>
        <div class="progress" id="progress1">
            <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">               
            </div>
            <span class="progress-type">Overall Progress</span>
            <span class="progress-completed">20%</span>
        </div>
      <div style="font-size:1.5em;color:#0a3151;">Complain</div>
        <div class="progress" id="progress1">
            <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">               
            </div>
            <span class="progress-type">Overall Progress</span>
            <span class="progress-completed">40%</span>
        </div>
      <div style="font-size:1.5em;color:#0a3151;">Other</div>
        <div class="progress" id="progress1">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">               
            </div>
            <span class="progress-type">Overall Progress</span>
            <span class="progress-completed">60%</span>
        </div>
  </div>
</div>

    <hr class="featurette-divider">
    <hr class="featurette-divider">

    <div class="row">
      <h4 class="text-center skills" style="color:#0a3151;">Individual Feedback</h4>
        <div class="col-lg-12">
            <div class="panel panel-primary row">
                <div class="panel-body col-lg-8">
                    <strong>Name:</strong> Shalini<br>
                    <strong>Date:</strong> 23/01/2015<br>
                    <strong>Category:</strong> Girl<br>
                    <strong>Description:</strong>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse aliquam, augue vitae pulvinar feugiat, magna ipsum varius tellus, 
                    quis lobortis est nulla nec ligula. Aenean cursus enim sit amet tortor rutrum lobortis. 
                    Vestibulum mattis mauris fringilla mauris volutpat, in euismod arcu ultricies. 
                    Nunc eget hendrerit lectus. Proin rutrum elit ut orci fringilla, sit amet ornare turpis molestie. 
                    Proin nec neque eget nulla scelerisque rhoncus sit amet vitae augue. 
                    Vivamus ipsum eros, sodales sed enim ac, malesuada iaculis mi. 
                    Morbi ut orci sit amet tellus posuere convallis. 
                    Cras rhoncus tincidunt ultrices.<br>
                </div>
                <div class="panel-body col-lg-4">
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">
                            <div class="skillLineDefault1">
                                <div class="skill1 pull-left text-center">Product-Design</div>
                                <div class="rating arrange" id="rate15"></div>
                            </div>
                        </li>
                        <li class="list-group-item text-center">
                            <div class="skillLineDefault1">
                                <div class="skill1 pull-left text-center">Product-Quality</div>
                                <div class="rating" id="rate16"></div>
                            </div>
                        </li>
                        <li class="list-group-item text-center">
                            <div class="skillLineDefault1">
                                <div class="skill1 pull-left text-center">Delivery</div>
                                <div class="rating" id="rate17"></div>
                            </div>
                        </li>
                        <li class="list-group-item text-center">
                            <div class="skillLineDefault1">
                                <div class="skill1 pull-left text-center">Ordering process</div>
                                <div class="rating" id="rate18"></div>
                            </div>
                        </li>
                        <li class="list-group-item text-center">
                            <div class="skillLineDefault1">
                                <div class="skill1 pull-left text-center">Payment Mode</div>
                                <div class="rating" id="rate19"></div>
                            </div>
                        </li>
                        <li class="list-group-item text-center">
                            <div class="skillLineDefault1">
                                <div class="skill1 pull-left text-center">Reliability</div>
                                <div class="rating1" id="rate20"></div>
                            </div>
                        </li>
                        <li class="list-group-item text-center">
                            <div class="skillLineDefault1">
                                <div class="skill1 pull-left text-center">Overall</div>
                                <div class="rating1" id="rate21"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<!-- End Average Feedback -->
  </div>
</div>

<ul class="pager">
  <li><a href="#">Previous</a></li>
  <li><a href="#">Next</a></li>
</ul>

{% endblock %}
{% block exlastatic %}
    <link href="{% static "css/home.css" %}" media="screen" rel="stylesheet">
    <link href="{% static "css/base.css" %}" media="screen" rel="stylesheet">
    <link href="{% static "css/feedback.css" %}" media="screen" rel="stylesheet">
    <script src="{% static "js/home.js" %}"></script>
    <script src="{% static "js/base.js" %}"></script>
    <script src="{% static "js/feedback.js" %}"></script>
{% endblock %}
</body>
</html>