{% load static %}
<html>

<head>
    <title>Bong's Collection</title>

    <link href="{% static "css/bootstrap.min.css" %}" media="screen" rel="stylesheet">
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
</head>

<body>
	<!-- Fixed navbar -->
    <div class="navbar navbar-default" id="fmeasure" style="background:#005387;border-radius:0;">
    	<div class="col-lg-12" style="background:#005387;color:#fdd922" id="scroll">Your Suggestion and Support very much required to success the initiatives -- Bong Collection</div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".collapse-cus">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img class="connecting" src="{% static "images/logo.png" %}" width="350"/></a>
        </div>
        <div class="navbar-collapse collapse collapse-cus">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Feedback  or Suggestion</a></li>
            <li><a href="../navbar-static-top/">Signup</a></li>
            <li id="size"><a href="./">Login</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </div>
    <!-- End fixed navbar -->
    <div class="navbar navbar-default navbar-custom" style="background:#0a3151;top:-1.5em;border-radius:0;border-top:0;;">
    	<div class="navbar-header">
    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".collapse-custom">
      			<span class="icon-bar"></span>
      			<span class="icon-bar"></span>
      			<span class="icon-bar"></span>
    		</button>
  		</div>
      <div class="navbar-collapse collapse collapse-custom">
          <ul class="nav navbar-nav">
            <li><a href="../navbar/">Women</a></li>
            <li><a href="../navbar-static-top/">Men</a></li>
            <li><a href="./">Boys</a></li>
            <li><a href="./">Girls</a></li>
            <li><a href="./">Gift Items</a></li>
          </ul>
          <div class="col-sm-1"></div>
          <div class="col-sm-4 col-md-4">
            <form class="navbar-form" role="search">
                <div class="input-group col-sm-12">
                    <input type="text" class="form-control search-input" placeholder="Search" name="q">
                    <div class="input-group-btn">
                        <button class="btn btn-default btn-search" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="glyphicon glyphicon-shopping-cart cart-color"></i> <b>0</b> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">No Items</a></li>
                </ul>
            </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
<!-- Start Caraousel -->
<div class="container">
    <div id="carousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <img alt="Bootstrap template" src="http://placehold.it/1200x400/b4d9a7/ffffff&text=Company Information">
                <div class="carousel-caption">
                    <!-- <h3>Company information</h3>
                    <p>
                        Founded in 1892 and headquartered in Fairfield, CT, General Electric Company (LSE; NYSE: GE) 
                        is a technology and financial services company. 
                        The company offers products and services ranging from aircraft engines, 
                        power generation, water processing, and household appliances, among others.
                    </p> -->
                </div>
            </div>
            <div class="item">
                <img alt="Bootstrap template" src="http://placehold.it/1200x400/4f77cb/ffffff&text=Social">
                <div class="carousel-caption">
                    <!-- <div class="col-lg-12 text-center v-center" style="font-size: 39pt;">
                        <a href="#"><span class="avatar"><i class="fa fa-google-plus"></i></span></a>
                        <a href="#"><span class="avatar"><i class="fa fa-linkedin"></i></span></a>
                        <a href="#"><span class="avatar"><i class="fa fa-facebook"></i></span></a>
                        <a href="#"><span class="avatar"><i class="fa fa-github"></i></span></a>
                    </div> -->
                </div>
            </div>
            <div class="item">
                <img alt="Bootstrap template" src="http://placehold.it/1200x400/d11e4f/ffffff&text=Portfolio">
                <div class="carousel-caption">
                    <!-- <h3>Portfolio</h3>
                    <p>
                        This is a list of some of the work done by the company over the past quarter. 
                    </p> -->
                </div>
            </div>
        </div>
        <ul class="nav nav-pills nav-justified">
            <li data-target="#carousel1" data-slide-to="0" class="active">
                <a href="#">About<small>Lorem ipsum dolor sit</small></a>
            </li>
            <li data-target="#carousel1" data-slide-to="1">
                <a href="#">Projects<small>Lorem ipsum dolor sit</small></a>
            </li>
            <li data-target="#carousel1" data-slide-to="2">
                <a href="#">Portfolio<small>Lorem ipsum dolor sit</small></a>
            </li>
        </ul>
    </div>
</div>
<!-- End Carousel -->

<!-- Moving Box Carousel -->
<div class="container">
<div class="col-md-12 heading"><h2><u>New Arrivals for Men & Boys</u></h2></div>
<div class="col-md-12 ">
<div class="carousel slide" id="myCarousel">
  <div class="carousel-inner">
    <div class="item active aitem">
      <div class="col-xs-3"><a href="#"><img src="http://placehold.it/500/e499e4/fff&amp;text=1" class="img-responsive"><div class="carousel-caption">Title<br>Price</div></a></div>
    </div>
    <div class="item aitem">
      <div class="col-xs-3"><a href="#"><img src="http://placehold.it/500/e477e4/fff&amp;text=2" class="img-responsive"></a></div>
    </div>
    <div class="item aitem">
      <div class="col-xs-3"><a href="#"><img src="http://placehold.it/500/eeeeee&amp;text=3" class="img-responsive"></a></div>
    </div>
    <div class="item aitem">
      <div class="col-xs-3"><a href="#"><img src="http://placehold.it/500/f4f4f4&amp;text=4" class="img-responsive"></a></div>
    </div>
    <div class="item aitem">
      <div class="col-xs-3"><a href="#"><img src="http://placehold.it/500/f566f5/333&amp;text=5" class="img-responsive"></a></div>
    </div>
    <div class="item aitem">
      <div class="col-xs-3"><a href="#"><img src="http://placehold.it/500/f477f4/fff&amp;text=6" class="img-responsive"></a></div>
    </div>
    <div class="item aitem">
      <div class="col-xs-3"><a href="#"><img src="http://placehold.it/500/eeeeee&amp;text=7" class="img-responsive"></a></div>
    </div>
    <div class="item aitem">
      <div class="col-xs-3"><a href="#"><img src="http://placehold.it/500/fcfcfc/333&amp;text=8" class="img-responsive"></a></div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
</div>
</div>
</div>
<!-- End Moving Box Carousel -->

<!-- Moving Box Carousel -->
<div class="container">
<div class="col-md-12 heading"><h2><u>New Arrivals for Womens & Girls</u></h2></div>
<div class="col-md-12 ">
<div class="carousel slide" id="myCarousel1">
  <div class="carousel-inner">
    <div class="item active bitem">
      <div class="col-xs-3"><a href="#"><img src="http://placehold.it/500/e499e4/fff&amp;text=1" class="img-responsive"></a></div>
    </div>
    <div class="item bitem">
      <div class="col-xs-3"><a href="#"><img src="http://placehold.it/500/e477e4/fff&amp;text=2" class="img-responsive"></a></div>
    </div>
    <div class="item bitem">
      <div class="col-xs-3"><a href="#"><img src="http://placehold.it/500/eeeeee&amp;text=3" class="img-responsive"></a></div>
    </div>
    <div class="item bitem">
      <div class="col-xs-3"><a href="#"><img src="http://placehold.it/500/f4f4f4&amp;text=4" class="img-responsive"></a></div>
    </div>
    <div class="item bitem">
      <div class="col-xs-3"><a href="#"><img src="http://placehold.it/500/f566f5/333&amp;text=5" class="img-responsive"></a></div>
    </div>
    <div class="item bitem">
      <div class="col-xs-3"><a href="#"><img src="http://placehold.it/500/f477f4/fff&amp;text=6" class="img-responsive"></a></div>
    </div>
    <div class="item bitem">
      <div class="col-xs-3"><a href="#"><img src="http://placehold.it/500/eeeeee&amp;text=7" class="img-responsive"></a></div>
    </div>
    <div class="item bitem">
      <div class="col-xs-3"><a href="#"><img src="http://placehold.it/500/fcfcfc/333&amp;text=8" class="img-responsive"></a></div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel1" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
  <a class="right carousel-control" href="#myCarousel1" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
</div>
</div>
</div>
<!-- End Moving Box Carousel -->

<!-- Footer -->
<br><br>
<!-- Static bottom navbar -->
<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".bottom-collapse"> <!-- NOTE! data-target was changed to .bottom-collapse -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse bottom-collapse"> <!-- NOTE! The extra bottom-collapse class put on here -->
      <ul class="nav navbar-nav">
        <li><a href="#">About Us</a></li>
        <li><a href="#about">Terms & Policies</a></li>
        <li><a href="#contact">Contact Us</a></li>
      </ul><!-- 
      <ul class="nav navbar-nav navbar-right">
        <li><a href="../navbar/">Default</a></li>
        <li><a href="../navbar-fixed-top/">Fixed Bottom</a></li>
      </ul> -->
    </div><!--/.nav-collapse -->
  </div>
</div>
<!-- End Footer -->
	<script type="text/javascript">
msg = "Your Suggestion and Support very much required to success the initiatives -- Bong Collection....     ";
pos = 0;
function ScrollMessage() {
   var newtext = msg.substring(pos, msg.length) + msg.substring(0, pos);
   var div = document.getElementById("scroll");
   div.firstChild.nodeValue = newtext;
   pos++;
   if (pos >= msg.length) pos = 0;
   window.setTimeout(ScrollMessage,300);
}

ScrollMessage(); 
	</script>
<style type="text/css">
#scroll{
	text-align: center;
	border-bottom: 2px solid white;
}
.navbar .brand, .navbar .nav > li > a {
    color: white;
}
.navbar .brand, .navbar .nav > li > a:hover {
    color: white;
}
.connecting {
        height: 2.2em;
        margin-top: -10px;
    }
.navbar{
	min-height:20px;
}
i{
  padding:3px;
}
.btn-search{
  background:#fdd922;
}
input.form-control.search-input{
  width:800px;
}
.cart-color{
  color:#fdd922;
}
b{
  color:white;
}
</style>
<style>
#carousel1{
  top:-3em;
}
#carousel1 .nav a small {
    display: block;
}
#carousel1 .nav {
    background: #eee;
}
.nav-justified > li > a {
    border-radius: 0px;
}
.nav-pills > li[data-slide-to="0"].active a {
    background-color: #b4d9a7;
}
.nav-pills > li[data-slide-to="1"].active a {
    background-color: #4f77cb;
}
.nav-pills > li[data-slide-to="2"].active a {
    background-color: #d11e4f;
}
</style>

<script type="text/javascript">
    jQuery(function ($) {
        $('#carousel1').carousel({
            interval: 2000
        });

        var clickEvent = false;

        $('#carousel1').on('click', '.nav a', function () {
            clickEvent = true;
            $('.nav li').removeClass('active');
            $(this).parent().addClass('active');
        }).on('slid.bs.carousel', function (e) {
            if (!clickEvent) {
                var count = $('.nav').children().length - 1;
                var current = $('.nav li.active');
                current.removeClass('active').next().addClass('active');
                var id = parseInt(current.data('slide-to'));
                if (count == id) {
                    $('.nav li').first().addClass('active');
                }
            }
            clickEvent = false;
        });
    });
</script>
<style type="text/css">
.carousel-inner .active.left { left: -25%; }
.carousel-inner .next        { left:  25%; }
.carousel-inner .prev    { left: -25%; }
.carousel-control        { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}
.heading{
  color:#005387;
  top:-1em;
}
</style>
<script>
$(document).ready(function(){
  $('#myCarousel').carousel();
});
$(document).ready(function(){
  $('#myCarousel1').carousel();
});
$('#myCarousel').carousel({
  interval: 4000
});
$('#myCarousel1').carousel({
  interval: 3000
});
$('.carousel .aitem').each(function(){
  var next = $(this).next();
  if (!next.length) {
    next = $(this).siblings(':first');
  }
  next.children(':first-child').clone().appendTo($(this));
  
  for (var i=0;i<2;i++) {
    next=next.next();
    if (!next.length) {
      next = $(this).siblings(':first');
    }
    
    next.children(':first-child').clone().appendTo($(this));
  }
});
$('.carousel .bitem').each(function(){
  var next = $(this).next();
  if (!next.length) {
    next = $(this).siblings(':first');
  }
  next.children(':first-child').clone().appendTo($(this));
  
  for (var i=0;i<2;i++) {
    next=next.next();
    if (!next.length) {
      next = $(this).siblings(':first');
    }
    
    next.children(':first-child').clone().appendTo($(this));
  }
});
</script>
<style type="text/css">
.navbar-fixed-bottom{
  position:relative;
  background:rgb(7,36,50);
}
</style>
</body>
</html>