{% extends "base.html" %}
{% load static %}

{% block exinstatic %}
    <script src="{% static "js/lightslider.js" %}"></script>
    <link href="{% static "css/lightslider.css" %}" media="screen" rel="stylesheet">
    <link href="{% static "css/font-awesome.min.css" %}" media="screen" rel="stylesheet">
    <link href="{% static "css/sweet-alert.css" %}" media="screen" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <ul id="lightSlider" class="gallery">
                {% for image in images %}
                    <li data-thumb="/media/{{ image.image }}"><a href="#"><img src="/media/{{ image.image }}"/></a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6">
            <div class="row">
                <h2>{{ item.item_name }}</h2>
                <h4>Rating : 5 Star (10 reviews)</h4>
                <div class="col-lg-6">
                    Select Size: 
                    <select class="form-control">
                        <option>--Select--</option>
                        {% for measure in item.fk_size.all %}
                        <option>{{ measure.size }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-6">
                    Select Color:
                    <select class="form-control" id="color-dropdown" onchange="openItemOnChange({{ item.id }}, {{ price.fk_seller.id }})">
                        <option>--Select--</option>
                        {% for variety in item.fk_color.all %}
                        <option value="{{ variety.id }}">{{ variety.colour }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <br>
                    <p style="font-size:1.5em;color:green;">In Stock</p>
                    <h4 style="color:orange">Price: Rs {{ price.price }}</h4>
                    {% if price.cod %}
                    <h5 style="color:green">(Cash on Delivery Available)</h5>
                    {% else %}
                    <h5 style="color:red">(Cash on Delivery Not Available)</h5>
                    {% endif %}
                    <button class="btn btn-primary btn-lg">Add to Cart</button>
                </div>
                <div class="col-lg-6">
                    <br>
                    <form id="checkpin" method="post" action="/checkpin/">{% csrf_token %}
                    <label>Check availability of this item by pincode:</label>
                    <input type="text" name="pincode" class="form-control" placeholder="Enter Pincode"/><br>
                    <button type="submit" class="btn btn-success btn-md">Check</button>
                    <img src="/static/images/loading.gif" alt="loading" id="loading"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr class="divider">
    <div class="row">
        <div class="col-lg-12">
            <h3>Other Sellers</h3>
            <table class="table table-hover">
            {% for price in item.price_set.all %}
            {% if forloop.first %}
            {% else %}
            <tr onclick="openItem({{ item.id }}, {{ price.fk_seller.id }}, {{ images.0.color.id }})">
                <td>{{ price.fk_seller.name }}</td>
                <td>{{ price.price }}</td>
            </tr>
            {% endif %}
            {% endfor %}
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3>Description</h3>
            <p>{{ item.description }}</p>
        </div>
    </div>
    <hr class="divider">
    <div class="row">
        <div class="col-lg-12">
            <h3>Related Products</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="carousel slide" id="myCarousel">
                <br>
                <div class="carousel-inner">
                {% for related_item in item.related_items.all %}
                    {% if forloop.first %}
                    <div class="item active aitem">
                        <div class="col-xs-3"><a href="/item/{{item.id}}/"><img src="/media/{{ item.itemimage_set.all.0.image }}" class="img-responsive"></a></div>
                    </div>
                    {% else %}
                    <div class="item aitem">
                        <div class="col-xs-3"><a href="/item/{{item.id}}/"><img src="/media/{{ item.itemimage_set.all.0.image }}" class="img-responsive"></a></div>
                    </div>
                    {% endif %}
                {% endfor %}
                    <!-- <div class="item active aitem">
                        <div class="col-xs-3"><a href="#"><img src="/static/images/placehold.gif" class="img-responsive"></a></div>
                    </div>
                    <div class="item aitem">
                        <div class="col-xs-3"><a href="#"><img src="/static/images/placehold.gif" class="img-responsive"></a></div>
                    </div>
                    <div class="item aitem">
                        <div class="col-xs-3"><a href="#"><img src="/static/images/placehold.gif" class="img-responsive"></a></div>
                    </div>
                    <div class="item aitem">
                        <div class="col-xs-3"><a href="#"><img src="/static/images/placehold.gif" class="img-responsive"></a></div>
                    </div>
                    <div class="item aitem">
                        <div class="col-xs-3"><a href="#"><img src="/static/images/placehold.gif" class="img-responsive"></a></div>
                    </div>
                    <div class="item aitem">
                        <div class="col-xs-3"><a href="#"><img src="/static/images/placehold.gif" class="img-responsive"></a></div>
                    </div> -->
                </div>
                <br>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3>Reviews & Ratings</h3>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">Reviews</a></li>
                <li class=""><a href="#profile" data-toggle="tab" aria-expanded="false">Write a review</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="home">
                    <div class="inside-review">
                        {% for review in reviews %}
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ review.rating }}&nbsp;Star<span class="pull-right">Review by {{ review.user.username }}</span></h3>
                            </div>
                            <div class="panel-body">
                                {{ review.review }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade" id="profile">
                    {% if request.user.is_authenticated %}
                    <div class="inside-review">
                        <form class="form-horizontal" method="post" id="review-form" action="/review/{{item.id}}/" />{% csrf_token %}
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Rating: </label>
                                <div class="col-lg-10">
                                    {% for choice in reviewform.rating %}
                                            {{ choice.tag }} &nbsp;
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textArea" class="col-lg-2 control-label">Your Review:</label>
                                <div class="col-lg-10">
                                    {{ reviewform.review }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button type="reset" class="btn btn-default">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <img src="/static/images/loading.gif" alt="loading" id="loading-bar"/>
                                </div>
                            </div>
                        </form>
                    </div>
                    {% else %}
                        <p class="inside-review">Please <a href="/accounts/login/">login</a> to post a review.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block exlastatic %}
    <link href="{% static "css/item.css" %}" media="screen" rel="stylesheet">
    <style type="text/css">
    ul#id_rating{
        list-style: none;
    }
    ul#id_rating li{
        display: inline;
    }
    .inside-review {
        padding:2%;
    }
    .table-hover tr{
        cursor: pointer;
    }
    </style>
    <script src="{% static "js/item.js" %}"></script>
    <script src="{% static "js/sweet-alert.js" %}"></script>
    <script type="text/javascript">
    function openItemOnChange(item_id, seller_id){
        url = "/item/"+item_id+"/"+$("#color-dropdown").val()+"/"+seller_id+"/";
        window.location.href=url;
    }
    function openItem(item_id, seller_id, color_id){
        url = "/item/"+item_id+"/"+color_id+"/"+seller_id+"/";
        window.location.href=url;
    }
    $("#loading").hide();
    $("#loading-bar").hide();
    $("#checkpin").submit(function(e){
        $("#loading").show();
        var postData = $(this).serializeArray();
        var formURL = $(this).attr("action");
        $.ajax({
            url : formURL,
            type: "POST",
            data: postData,
            success:function(data, textStatus, jqXHR)
            {
                $("#loading").hide();
                if(data=="not ok"){
                    $("#loading").hide();
                    swal("Delivery", "Not Available at this location", "info");
                }
                else{
                    $("#loading").hide();
                    swal("Delivery", "Available with sellers", "success");
                    $("#checkpin")[0].reset();
                }
            }, 
            error:function(jqXHR, textStatus, errorThrown)
            {
                $("#loading").hide();
                swal("Some Error Occured");
            }
        });
        e.preventDefault(); //STOP default action
        e.unbind(); //unbind. to stop multiple form submit.
    });
    $("#review-form").submit(function(e){
        $("#loading-bar").show();
        var postData = $(this).serializeArray();
        var formURL = $(this).attr("action");
        $.ajax({
            url : formURL,
            type: "POST",
            data: postData,
            success:function(data, textStatus, jqXHR)
            {
                $("#loading").hide();
                if(data=="not ok"){
                    $("#loading-bar").hide();
                    swal("Delivery", "Your Review has not been submitted for confirmation", "info");
                }
                else{
                    $("#loading-bar").hide();
                    swal("Delivery", "Your Review has been submitted for confirmation", "success");
                    $("#review-form")[0].reset();
                }
            }, 
            error:function(jqXHR, textStatus, errorThrown)
            {
                $("#loading-bar").hide();
                swal("Some Error Occured");
            }
        });
        e.preventDefault(); //STOP default action
        e.unbind(); //unbind. to stop multiple form submit.
    });
    </script>
{% endblock %}
</body>
</html>